/* You can add global styles to this file, and also import other style files */
html {
  background: url(./assets/congruent_outline.png);
  color: #FFF;
}

h1 {
  color: #fff;
}

.description {
  font-style: italic;
  color: lightseagreen;
}

input.ng-invalid {
  border: 2px solid darkred ;
}

.error {
  color: red;
}